@{
    ViewData["Title"] = "Home Page";
}

<h1>Create New Transactions</h1>

<div>
    Transaction Type:
    <select id="transactionType" style="margin-bottom: 15px;">
        <item>Buy</item>
        <item>Sell</item>
    </select>

    Listing:
    <select id="listing" style="margin-bottom: 15px;"></select>
    
    Price:
    <input type="number" id="price" style="margin-bottom: 15px;" />

    Share Amount:
    <input type="number" id="shareAmount" style="margin-bottom: 15px;" />

    <button type="button" id="submitTransaction">Create</button>
</div>

<h2>Saved Transactions</h2>

<table id="transactionsTable">

</table>
