@{
    Layout = "_Layout";
    ViewData["Title"] = "Home Page";
}

<h2>Create New Transactions</h2>

<div>
    <table class="table" style="margin-bottom: 10px;">
        <tr>
            <td>Transaction Type:</td>
            <td>
                <select id="transactionType">
                    <option>Buy</option>
                    <option>Sell</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Listing:</td>
            <td><select id="listing"></select></td>
        </tr>
        <tr>
            <td>Price:</td>
            <td><input type="number" id="price" /></td>
        </tr>
        <tr>
            <td>Share Amount:</td>
            <td><input type="number" id="shareAmount" /></td>
        </tr>
    </table>
    <button type="button" id="submitTransaction" onclick="SaveTransaction()">Create</button>
    <div id="info"></div>
</div>

<hr />
<h2>Saved Transactions</h2>
<button type="button" id="refresh" onclick="RefreshTransactions()">Refresh</button>

<table id="transactionsTable" class="table">
    <thead>
        <tr>
            <th>Suid</th>
            <th>Transaction Type</th>
            <th>Listing</th>
            <th>Price</th>
            <th>Share Amount</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>

@section scripts {
<script type="text/javascript">
    $(document).ready(function () {
        RefreshTransactions();
    });

    function SaveTransaction() {
        var postObj = { transactionType: $('#transactionType').val(), listing: $('#listing').val(), price: $('#price').val(), shareAmount: $('#shareAmount').val() };
        $.ajax({
            type: "POST",
            url: "/Home/SaveTransaction",
            data: postObj,
            datatype: "html",
            success: function (data) {
                $('#transactionType').val("");
                $('#listing').val("");
                $('#price').val("");
                $('#shareAmount').val("");
            }
        });
    }

    function RefreshTransactions() {
        $.ajax({
            url: '/Home/GetTransactions',
            data: { format: 'json' },
            contentType: "application/json",
            error: function (e) {
                console.log(e);
            },
            success: function (data) {
                $('#transactionsTable tbody').empty();
                $.each(data, function (index, item) {
                    $('#transactionsTable tbody').append("<tr><td>" + item["suid"] + "</td><td>"
                        + (item["transactionType"] === 0 ? "Buy" : "Sell")
                        + "</td><td>" + item["listing"] + "</td><td>" + item["price"] + "</td><td>" + item["shareAmount"] + "</td></tr>");
                });
            },
            type: 'GET'
        });
    }
</script>
}